.detailsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.detailsContainer a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.5);
}

.detailsContainer a:hover {
  color: black;
}

.details {
  background-color: white;
  padding: 50px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  text-align: center;
  letter-spacing: 0.35px;
  line-height: 45px;
  font-size: 20px;
  color: #1a1919;
}

.details h3 {
  font-size: 28px;
  margin-bottom: 5px;
  font-weight: bold;
}


@media screen and (max-width: 300px) {
  .detailsContainer {
    margin: auto 15px;
  }

  .details {
    font-size: 15px;
  }

  .details h3 {
    font-size: 16px;
  }
}

@media screen and (min-width: 301px) and (max-width: 375px) {
  .detailsContainer {
    margin: auto 20px;
  }

  .details {
    font-size: 18px;
  }
}

@media screen and (min-width: 376px) and (max-width: 560px) {
  .detailsContainer {
    margin: auto 20px;
  }

  .details {
    font-size: 20px;
  }
}

@media screen and (min-width: 561px) and (max-width: 767px) {
  .details {
    font-size: 20px;
  }

  .details h3 {
    font-size: 26px;
  }
}
